<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gerenciador de Tarefas{% endblock %}</title>

    </head>
<body>

    <header>
        <nav>
            <a href="{% url 'lista_tarefas' %}">Página Inicial</a> |
            <a href="/admin">Admin</a>
            </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 - Meu Projeto Django</p>
    </footer>

</body>
</html>